@import "tailwindcss";

@font-face {
    font-family: king;
    src: url('./fonts/KIN668.TTF');
}

body{
    font-family: king;
}

/* Navbar */

@media screen and (max-width: 400px) {
    li{
        padding-inline: 15px;
    }
}

@media screen and (max-width: 450px) {
    .smallest-img{
        width: 120px;
    }
    .smallest-hello{
        font-size: 15px;
    }
    .smallest-title{
        font-size: 26px;
    }
    .smallest-hero-btn{
        font-size: 15px;
        
    }
    .smallest-container-hero-btn{
        bottom: -40px;
    }
}
@media screen and (max-height: 600px) {
    .smallest-gap{
        gap: calc(var(--spacing) * 1) /* 0.25rem = 4px */;
    }
}