@import "tailwindcss";

@font-face {
    font-family: king;
    src: url('./fonts/KIN668.TTF');
}

body{
    font-family: king;
}

/* Navbar */

@media screen and (max-width: 350px) {
    li{
        padding-inline: 20px;
    }
}

@media screen and (max-width: 450px) {
    .smallest-img{
        width: 150px;
    }
    .smallest-hello{
        font-size: 15px;
    }
    .smallest-title{
        font-size: 26px;
    }
    .smallest-hero-btn{
        font-size: 15px;
        
    }
    .smallest-container-hero-btn{
        bottom: -40px;
    }
}